.hidden-word{
	padding: 10px 30px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: #3e3c3e;
	width: fit-content;
	border-radius: 10px;
	margin: 10px;
	font-size: 1.3em;
}

.clickable:hover{
	cursor: pointer;
}

.tooltip{
	background-color: #4d4e6a !important; 
	font-size: 1.1em !important;
	color: #fff !important;
	opacity: 1 !important;
	border-radius: 10px !important;
}