.letter-box{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	margin: 10px;
	list-style-type: none;
	border-radius: 10px;
}

.letter-box h3{
	border-radius: 10px 10px 0 0;
	font-size: 1.5em;
	padding: 15px 25px;
	background-color: #67688e;
	color: white;
	font-weight: bold;
}

.letter-box p{
	font-weight: bold;
	color: rgb(233, 229, 192);
	background-color: #4d4e6a;
	width: 100%;
	text-align: center;
	padding: 10px;
	border-radius: 0 0 10px 10px;
	font-size: 1.2em;
}